@model SalesHelper.Models.Event
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">

            <h3 class="content-header-title mb-0">New Event</h3>

        </div>
        <div class="content-header-right col-md-6 col-12 mb-md-0 mb-2">
            <a class="btn btn-primary float-right" href="#" data-toggle="modal" data-backdrop="true" data-target="#NewEventModal">
                <i class="fa fa-plus"></i> Add Event
            </a>
        </div>
    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    @* <div class="card-header">
                    <h4 class="card-title">Agenda Views</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                    <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                    <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                    </ul>
                    </div>
                    </div> *@
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @* <p class="card-text">FullCalendar has a number of different "views", or ways of displaying days and events. The following 5 views are all built in to FullCalendar: <code>month, basicWeek, basicDay, agendaWeek, agendaDay</code>. You can set the initial view of the calendar with the <code>defaultView</code> option. The following example demonstrates <code>agenda</code> views and the <code>defaultView</code> option is set to <code>agendaWeek</code>.</p> *@
                            <div id='event-calendar'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add New Event Modal -->
<div class="modal fade text-left" id="NewEventModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary white">
                <h4 class="modal-title form-section"><i class="fa fa-calendar-plus-o"></i> Add Event Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form" asp-controller="Events" asp-action="AddEvent" method="post">
                <div class="modal-body">
                    <input hidden asp-for="CustomerId" value="@TempData["CustomerId"]!.ToString()" />

                    <div class="row">
                        <div class="col-md-12">
                            <label>Title</label>
                            <div class="form-group position-relative has-icon-left">
                                <input asp-for="Title" type="text" class="form-control" placeholder="Title" required>
                                <div class="form-control-position">
                                    <i class="feather icon-calendar primary"></i>
                                </div>
                            </div>

                            <label>Description</label>
                            <div class="form-group position-relative has-icon-left">
                                <input asp-for="Description" type="text" class="form-control" placeholder="Description">
                                <div class="form-control-position">
                                    <i class="feather icon-calendar primary"></i>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Url</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="Url" type="text" class="form-control" placeholder="Url">
                                        <div class="form-control-position">
                                            <i class="feather icon-link primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Event Color</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="Color" type="color" value="#00b5b8" class="form-control" placeholder="Event Color">
                                        <div class="form-control-position">
                                            <i class="fa fa-paint-brush primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Text Color</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="TextColor" type="color" value="#FFFFFF" class="form-control" placeholder="Text Color">
                                        <div class="form-control-position">
                                            <i class="fa fa-paint-brush primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label>Start Date</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="Start" type="date" class="form-control" placeholder="Start Date" required>
                                        <div class="form-control-position">
                                            <i class="feather icon-calendar primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>End Date</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="End" type="date" class="form-control" placeholder="End Date">
                                        <div class="form-control-position">
                                            <i class="feather icon-calendar primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Start Time</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="StartTime" type="time" class="form-control" placeholder="Start Time">
                                        <div class="form-control-position">
                                            <i class="feather icon-clock primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>End Time</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="EndTime" type="time" class="form-control" placeholder="End Time">
                                        <div class="form-control-position">
                                            <i class="feather icon-clock primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="custom-control custom-checkbox mb-2">
                                <input asp-for="IsAllDay" type="checkbox" class="custom-control-input" id="isAllDay">
                                <label class="custom-control-label" for="isAllDay">
                                    <b>Is All Day Event?</b>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Event Modal -->
<div class="modal fade text-left" id="EditEventModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary white">
                <h4 class="modal-title form-section"><i class="fa fa-calendar-plus-o"></i> Update Event Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form" asp-controller="Events" asp-action="UpdateEvent" method="post">
                <div class="modal-body">
                    <input hidden asp-for="CustomerId" value="@TempData["CustomerId"]!.ToString()" />

                    <div class="row">
                        <div class="col-md-12">
                            <label>Title</label>
                            <div class="form-group position-relative has-icon-left">
                                <input asp-for="Title" type="text" class="form-control" placeholder="Title" required>
                                <div class="form-control-position">
                                    <i class="feather icon-calendar primary"></i>
                                </div>
                            </div>

                            <label>Description</label>
                            <div class="form-group position-relative has-icon-left">
                                <input asp-for="Description" type="text" class="form-control" placeholder="Description">
                                <div class="form-control-position">
                                    <i class="feather icon-calendar primary"></i>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Url</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="Url" type="text" class="form-control" placeholder="Url">
                                        <div class="form-control-position">
                                            <i class="feather icon-link primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Event Color</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="Color" type="color" value="#00b5b8" class="form-control" placeholder="Event Color">
                                        <div class="form-control-position">
                                            <i class="fa fa-paint-brush primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Text Color</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="TextColor" type="color" value="#FFFFFF" class="form-control" placeholder="Text Color">
                                        <div class="form-control-position">
                                            <i class="fa fa-paint-brush primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label>Start Date</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="Start" type="date" class="form-control" placeholder="Start Date" required>
                                        <div class="form-control-position">
                                            <i class="feather icon-calendar primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>End Date</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="End" type="date" class="form-control" placeholder="End Date">
                                        <div class="form-control-position">
                                            <i class="feather icon-calendar primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Start Time</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="StartTime" type="time" class="form-control" placeholder="Start Time">
                                        <div class="form-control-position">
                                            <i class="feather icon-clock primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>End Time</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="EndTime" type="time" class="form-control" placeholder="End Time">
                                        <div class="form-control-position">
                                            <i class="feather icon-clock primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="custom-control custom-checkbox mb-2">
                                <input asp-for="IsAllDay" type="checkbox" class="custom-control-input" id="isAllDay">
                                <label class="custom-control-label" for="isAllDay">
                                    <b>Is All Day Event?</b>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>

    async function EventArray() {
        let calendarEventsArray = [];

        // Create a deferred object
        const deferred = $.Deferred();

        // Use $.ajax inside a try-catch block to handle errors
        try {
            await $.ajax({
                url: '/Events/GetEvents',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        for (var i = 0; i < data.length; i++) {
                            calendarEventsArray.push({
                                title: data[i].title,
                                description: data[i].description,
                                start: data[i].start,
                                color: data[i].color,
                                textColor: data[i].textColor,
                                end: data[i].end,
                                allDay: data[i].allDay,
                                id: data[i].id
                            });
                        }
                        // Resolve the deferred object with the result
                        deferred.resolve(calendarEventsArray);
                    }
                },
                error: function (error) {
                    // Reject the deferred object with the error
                    deferred.reject(error);
                }
            });
        } catch (error) {
            // Handle any synchronous errors
            deferred.reject(error);
        }

        // Wait for the deferred object to be resolved or rejected
        const result = await deferred.promise();
        return result;
    }

    $(document).ready(async function () {
        var calendarDiv = document.getElementById('event-calendar');
        var events = new FullCalendar.Calendar(calendarDiv, {
            eventClick: function (info) {
                document.getElementById("Title").value = info.event.title;
                document.getElementById("Description").value = info.event.extendedProps.description;
                document.getElementById("Url").value = info.event.url;
                document.getElementById("Color").value = info.event.backgroundColor;
                document.getElementById("TextColor").value = info.event.textColor;
                document.getElementById("Start").value = info.event.start.toISOString().split('T')[0];
                // check if end is not null
                if (info.event.end != null) {
                    document.getElementById("End").value = info.event.end.toISOString().split('T')[0];
                }
                document.getElementById("isAllDay").checked = info.event.allDay;
                $("#NewEventModal").modal("show");
            },
            header: {
                left: 'prev,next today',
                center: 'title',
                right: "dayGridMonth,timeGridWeek,timeGridDay"
            },
            editable: true,
            navLinks: true,
            plugins: ["dayGrid", "timeGrid", "interaction"],
            eventLimit: true,
            events: await EventArray()
        });
        events.render();
    });
</script>