@model SalesHelper.Models.Event
@inject SalesHelper.Repository.CustomerRepo _customerService
@{
    var customersList = _customerService.ReadAll();
}
<style>
    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 35px;
    }

    .fc-unthemed .fc-today{
        color:white;
        font-weight:bold;
    }

    .fc-day.fc-today {
        position: relative;
    }

    .fc-day.fc-today::before,
    .fc-day.fc-today::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-color: transparent;
        border-style: solid;
    }

    .fc-day.fc-today::before {
        border-width: 1.5em;
    }

    .fc-day.fc-today::after {
        border-radius: 0;
        border-width: 1.5em;
        border-right-color: #1967d2;
        border-top-color: #1967d2;
    }
</style>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">

            <h3 class="content-header-title mb-0">New Event</h3>

        </div>
        <div class="content-header-right col-md-6 col-12 mb-md-0 mb-2">
            <a class="btn btn-primary float-right" href="#" data-toggle="modal" data-backdrop="true" data-target="#NewEventModal">
                <i class="fa fa-plus"></i> Add Event
            </a>
        </div>
    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    @* <div class="card-header">
                    <h4 class="card-title">Agenda Views</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                    <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                    <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                    </ul>
                    </div>
                    </div> *@
                    <div class="card-content collapse show">
                        <div class="card-body">
                            @* <p class="card-text">FullCalendar has a number of different "views", or ways of displaying days and events. The following 5 views are all built in to FullCalendar: <code>month, basicWeek, basicDay, agendaWeek, agendaDay</code>. You can set the initial view of the calendar with the <code>defaultView</code> option. The following example demonstrates <code>agenda</code> views and the <code>defaultView</code> option is set to <code>agendaWeek</code>.</p> *@
                            <div id='event-calendar'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add New Event Modal -->
<div class="modal fade text-left" id="NewEventModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary white">
                <h4 class="modal-title form-section">
                    <i class="fa fa-calendar-plus-o"></i>
                    Add Event Details
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="EventForm" class="form" asp-controller="Events" asp-action="AddEvent" method="post">
                <div class="modal-body">
                    <input hidden asp-for="Id" />
                    <div class="row">
                        <div class="col-md-12">
                            <label>Title</label>
                            <div class="form-group position-relative has-icon-left">
                                <input asp-for="Title" type="text" class="form-control" placeholder="Title" required>
                                <div class="form-control-position">
                                    <i class="feather icon-calendar primary"></i>
                                </div>
                            </div>

                            <label>Description</label>
                            <div class="form-group position-relative has-icon-left">
                                <input asp-for="Description" type="text" class="form-control" placeholder="Description">
                                <div class="form-control-position">
                                    <i class="feather icon-calendar primary"></i>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Select Customer</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <select asp-for="CustomerId"></select>
                                        <div class="form-control-position">
                                            <i class="feather icon-user primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Event Color</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="Color" type="color" value="#00b5b8" class="form-control" placeholder="Event Color">
                                        <div class="form-control-position">
                                            <i class="fa fa-paint-brush primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Start Date & Time</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="Start" type="datetime-local" class="form-control" placeholder="Start Date" required>
                                        <div class="form-control-position">
                                            <i class="feather icon-calendar primary"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>End Date & Time</label>
                                    <div class="form-group position-relative has-icon-left">
                                        <input asp-for="End" type="datetime-local" class="form-control" placeholder="End Date">
                                        <div class="form-control-position">
                                            <i class="feather icon-calendar primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="custom-control custom-checkbox mb-2">
                                <input asp-for="IsAllDay" type="checkbox" class="custom-control-input" id="isAllDay">
                                <label class="custom-control-label" for="isAllDay">
                                    <b>Is All Day Event?</b>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="DeleteEvent()" class="btn btn-danger">Delete</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    // Global Calendar View variable
    var CalendarView = null;


    function DeleteEvent() {
        if (confirm("Are you sure to delete this Event?")) {
            $.ajax({
                type: "POST",
                url: "/Events/DeleteEvent",
                data: {
                    id: parseInt($("#Id").val())
                },
                success: function (data) {
                    // removing event from calendar view
                    var event = CalendarView.getEventById(parseInt($("#Id").val()));
                    event.remove()
                    $("#NewEventModal").modal("hide");
                    toastr.success(data, 'Success!', { "progressBar": true });
                },
                error: function (error) {
                    toastr.error(error, 'Error!', { "progressBar": true });
                }
            })
        }
    }

    function ShowEvent(info) {
        $.ajax({
            url: '/Events/GetEvents/',
            data: {
                id: info.event.id
            },
            type: "GET",
            dataType: "json",
            success: function (data) {
                $(".modal-title.form-section").html("<i class='fa fa-calendar-plus-o'></i> Update Event Details");
                $('#EventForm').attr('action', '/Events/UpdateEvent');
                $('#EventForm :submit').text("Update");
                // Setting Form Values
                $("#Id").val(data.id);
                $("#Title").val(data.title);
                $("#Description").val(data.description);
                $("#Url").val(data.url);
                $("#Color").val(data.color);
                $("#Start").val(data.start);
                $("#End").val(data.end);
                $("#isAllDay").prop('checked', data.isAllDay);
                $("#CustomerId").val(data.customerId).trigger("change");

                $("#NewEventModal").modal("show");
            },
            error: function (error) {
                toastr.error(error, 'Error!', { "progressBar": true });
            }
        });
    }
    function OpenNewEventModal(info) {
        // Get the current date without the time component
        var currentDate = new Date();
        currentDate.setHours(0, 0, 0, 0);

        // Convert the clicked date string to a Date object without the time component
        var clickedDate = new Date(info.dateStr);
        clickedDate.setHours(0, 0, 0, 0);

        // Compare the dates without considering the time
        if (clickedDate >= currentDate) {
            // Allow adding events for current or future dates
            $("#Start").val(info.dateStr + "T00:00");
            $("#NewEventModal").modal("show");
        } else {
            // Show an error message for past dates
            toastr.error('You are not allowed to add events in past dates!', 'Error!', { "progressBar": true });
        }
    }
    function ChangeEventDateOnDragDrop(info) {
        var newDate = info.event.start.toISOString().split("T")[0] + "T";
        var hours = info.event.start.getHours() > 9 ? info.event.start.getHours() + ":" : "0" + info.event.start.getHours() + ":";
        var minutes = info.event.start.getMinutes() > 9 ? info.event.start.getMinutes() : "0" + info.event.start.getMinutes();
        var eventNewDate = newDate + hours + minutes;
        $.ajax({
            url: '/Events/ChangeEventStart',
            data: {
                id: info.event.id,
                newStart: eventNewDate
            },
            type: "POST",
            success: function (data) {
                toastr.success(data, 'Success', { "progressBar": true });
            },
            error: function (error) {
                toastr.error(error, 'Error!', { "progressBar": true });
            }
        });
    }

    $(document).ready(async function () {

        var customerList = @Html.Raw(Json.Serialize(customersList));
        $("#CustomerId").select2({
            dropdownAutoWidth: true,
            width: '100%',
            data: customerList.map(function (customer) {
                return {
                    id: customer.id,
                    text: customer.firstName + " " + customer.lastName
                };
            })
        });


        var calendarDiv = document.getElementById('event-calendar');
        CalendarView = new FullCalendar.Calendar(calendarDiv, {
            datesRender: function (info) {
                LoadEvents(info);
            },
            dateClick: function (info) {
                OpenNewEventModal(info);
            },
            eventDrop: function (info) {
                ChangeEventDateOnDragDrop(info);
            },
            eventClick: function (info) {
                ShowEvent(info);
            },
            header: {
                left: 'prev,next today',
                center: 'title',
                right: "dayGridMonth,timeGridWeek,timeGridDay"
            },
            eventMouseEnter: function (info) {
                $(info.el).tooltip({
                    title: info.event.title,
                    container: 'body'
                });
            },
            editable: true,
            navLinks: true,
            plugins: ["dayGrid", "timeGrid", "interaction"],
            displayEventTime: false
        });
        CalendarView.render();

        function LoadEvents(info) {
            let calendarEventsArray = [];
            $.ajax({
                url: '/Events/GetEvents',
                data: {
                    startDate: info.view.activeStart.toISOString(),
                    endDate: info.view.activeEnd.toISOString()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        for (var i = 0; i < data.length; i++) {
                            calendarEventsArray.push({
                                id: data[i].id,
                                title: data[i].customerIdFK.firstName + " " + data[i].customerIdFK.lastName + ": " + data[i].title,
                                description: data[i].description,
                                start: data[i].start,
                                color: data[i].color,
                                end: data[i].end,
                                allDay: data[i].allDay
                            });
                        }
                        CalendarView.removeAllEvents();
                        CalendarView.addEventSource(calendarEventsArray);
                    }
                },
                error: function (error) {
                    toastr.error(error, 'Error!', { "progressBar": true });
                }
            });
        }
    });
</script>