<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">Add New Account</h3>
        </div>
    </div>

    <div class="content-body">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="basic-layout-form">Account Information</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li data-toggle="tooltip" data-placement="top" title="Collapse"><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                <li data-toggle="tooltip" data-placement="top" title="Refresh"><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                <li data-toggle="tooltip" data-placement="top" title="Expand"><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                                <li data-toggle="tooltip" data-placement="top" title="Close"><a data-action="close"><i class="feather icon-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <form class="form">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="feather icon-user"></i> Account Details</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="projectinput1">Account Number</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Account Number">
                                                <div class="form-control-position">
                                                    <i class="feather icon-hash primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="projectinput2">Account Name</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Account Name">
                                                <div class="form-control-position">
                                                    <i class="feather icon-user primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="projectinput4">Email Address</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Email Address">
                                                <div class="form-control-position">
                                                    <i class="feather icon-mail primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="projectinput3">Main Phone</label>
                                                    <div class="form-group position-relative has-icon-left">
                                                        <input type="text" class="form-control" placeholder="Main Phone">
                                                        <div class="form-control-position">
                                                            <i class="feather icon-phone primary"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="projectinput3">Primary Contact</label>
                                                    <div class="form-group position-relative has-icon-left">
                                                        <input type="text" class="form-control" placeholder="Primary Contact">
                                                        <div class="form-control-position">
                                                            <i class="feather icon-phone primary"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h4 class="form-section"><i class="feather icon-home"></i> Address Details</h4>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="companyName">Address Line 1</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Address Line 1">
                                                <div class="form-control-position">
                                                    <i class="ti-home primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="companyName">Address Line 2</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Address Line 2">
                                                <div class="form-control-position">
                                                    <i class="ti-home primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="companyName">City</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" id="companyName" class="form-control" placeholder="City" name="company">
                                                <div class="form-control-position">
                                                    <i class="ti-location-pin primary"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="companyName">State</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" id="companyName" class="form-control" placeholder="State" name="company">
                                                <div class="form-control-position">
                                                    <i class="ti-location-pin primary"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="companyName">Country</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" id="companyName" class="form-control" placeholder="State" name="company">
                                                <div class="form-control-position">
                                                    <i class="ti-world primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="companyName">Postal Code</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Postal Code">
                                                <div class="form-control-position">
                                                    <i class="feather icon-hash primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="companyName">Website</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Website">
                                                <div class="form-control-position">
                                                    <i class="feather icon-link primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="companyName">Registration Date</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="date" class="form-control">
                                                <div class="form-control-position">
                                                    <i class="feather icon-calendar primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <fieldset>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="customCheck" id="isActive">
                                            <label class="custom-control-label" for="isActive"><b>Is Active</b></label>
                                        </div>
                                    </fieldset>

                                </div>

                                <div class="form-actions right">
                                    <button type="reset" class="btn btn-danger mr-1">
                                        <i class="feather icon-x"></i> Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-body">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="basic-layout-form">Account Address Information</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li data-toggle="tooltip" data-placement="top" title="Collapse"><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                <li data-toggle="tooltip" data-placement="top" title="Refresh"><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                <li data-toggle="tooltip" data-placement="top" title="Expand"><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                                <li data-toggle="tooltip" data-placement="top" title="Close"><a data-action="close"><i class="feather icon-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <form class="form">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="feather icon-home"></i> Billing Address Details</h4>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="companyName">Address Line 1</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Address Line 1">
                                                <div class="form-control-position">
                                                    <i class="ti-home primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="companyName">Address Line 2</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Address Line 2">
                                                <div class="form-control-position">
                                                    <i class="ti-home primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="companyName">City</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" id="companyName" class="form-control" placeholder="City" name="company">
                                                <div class="form-control-position">
                                                    <i class="ti-location-pin primary"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="companyName">State</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" id="companyName" class="form-control" placeholder="State" name="company">
                                                <div class="form-control-position">
                                                    <i class="ti-location-pin primary"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="companyName">Postal Code</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Postal Code">
                                                <div class="form-control-position">
                                                    <i class="feather icon-hash primary"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="companyName">Country</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" id="companyName" class="form-control" placeholder="State" name="company">
                                                <div class="form-control-position">
                                                    <i class="ti-world primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h4 class="form-section"><i class="feather icon-truck"></i> Shipping Address Details</h4>
                                    <fieldset>
                                        <div class="custom-control custom-checkbox mb-2">
                                            <input type="checkbox" class="custom-control-input" name="customCheck" id="isBilling">
                                            <label class="custom-control-label" for="isBilling">
                                                <b>same as billing address</b>
                                            </label>
                                        </div>
                                    </fieldset>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="companyName">Address Line 1</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Address Line 1">
                                                <div class="form-control-position">
                                                    <i class="ti-home primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="companyName">Address Line 2</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Address Line 2">
                                                <div class="form-control-position">
                                                    <i class="ti-home primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="companyName">City</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" id="companyName" class="form-control" placeholder="City" name="company">
                                                <div class="form-control-position">
                                                    <i class="ti-location-pin primary"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="companyName">State</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" id="companyName" class="form-control" placeholder="State" name="company">
                                                <div class="form-control-position">
                                                    <i class="ti-location-pin primary"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="companyName">Postal Code</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Postal Code">
                                                <div class="form-control-position">
                                                    <i class="feather icon-hash primary"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="companyName">Country</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" id="companyName" class="form-control" placeholder="State" name="company">
                                                <div class="form-control-position">
                                                    <i class="ti-world primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h4 class="form-section"><i class="fa fa-money"></i> Payment Details</h4>
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <label>Payment Method</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" name="paymentMethod" id="customRadio1">
                                                        <label class="custom-control-label" for="customRadio1"><b>Credit Card</b></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" name="paymentMethod" id="customRadio2">
                                                        <label class="custom-control-label" for="customRadio2"><b>Debit Card</b></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Card Type</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" name="cardTypes" id="customRadio3">
                                                        <label class="custom-control-label" for="customRadio3">
                                                            <span class="fa fa-cc-visa font-medium-5" data-toggle="tooltip" data-placement="top" title="VISA Card"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" name="cardTypes" id="customRadio4">
                                                        <label class="custom-control-label" for="customRadio4">
                                                            <span class="fa fa-cc-mastercard font-medium-5" data-toggle="tooltip" data-placement="top" title="MasterCard"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="companyName">Card Number</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Card Number">
                                                <div class="form-control-position">
                                                    <i class="fa fa-credit-card primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="companyName">Expiry Date</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="MM / YY">
                                                <div class="form-control-position">
                                                    <i class="fa fa-credit-card primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="companyName">CVV</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="CVV">
                                                <div class="form-control-position">
                                                    <i class="fa fa-credit-card primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-actions right">
                                    <button type="reset" class="btn btn-danger mr-1">
                                        <i class="feather icon-x"></i> Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

