<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Customer</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">New Customer</a>
                        </li>
                    </ol>
                </div>
            </div>
            <h3 class="content-header-title mb-0">New Customer</h3>
        </div>
        <div class="content-header-right col-md-6 col-12">
            <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button class="btn btn-outline-primary dropdown-toggle dropdown-menu-right" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings icon-left"></i> Settings</button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"><a class="dropdown-item" href="card-bootstrap.html">Bootstrap Cards</a><a class="dropdown-item" href="component-buttons-extended.html">Buttons Extended</a></div>
                </div><a class="btn btn-outline-primary" href="full-calender-basic.html"><i class="feather icon-mail"></i></a><a class="btn btn-outline-primary" href="timeline-center.html"><i class="feather icon-pie-chart"></i></a>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- New customer section start -->
        <section id="basic-form-layouts">
            <div class="row match-height">
                <div class="col-md-6">
                    <div class="card" style="height: 1039.7px;">
                        <div class="card-header">
                            <h4 class="card-title" id="basic-layout-form">Customer Info</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <form class="form">
                                    <div class="form-body">
                                        <h4 class="form-section"><i class="feather icon-user"></i> Personal Info</h4>

                                        <div class="form-group">
                                            <label for="donationinput1">Full Name</label>
                                            <input type="text" id="customer-full-name" class="form-control square" placeholder="name" name="fullname">
                                        </div>

                                        <div class="form-group">
                                            <label for="donationinput2">Email</label>
                                            <input type="email" id="customer-email" class="form-control square" placeholder="email" name="email">
                                        </div>

                                        <div class="form-group">
                                            <label for="donationinput3">Cell Phone</label>
                                            <input type="tel" id="customer-cell-phone" class="form-control square" placeholder="cell phone" name="contact">
                                        </div>

                                        <div class="form-group">
                                            <label for="donationinput3">Home Phone</label>
                                            <input type="tel" id="customer-home-phone" class="form-control square" placeholder="home phone" name="contact">
                                        </div>

                                        <div class="form-group">
                                            <label for="companyName">Company</label>
                                            <input type="text" id="company-name" class="form-control square" placeholder="Company Name" name="company">
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="projectinput5">Interested in</label>
                                                    <select id="projectinput5" name="interested" class="form-control square">
                                                        <option value="none" selected="" disabled="">Interested in</option>
                                                        <option value="kitchen design">kitchen design</option>
                                                        <option value="bathroom design">bathroom design</option>
                                                        <option value="kitchen remodeling">kitchen remodeling</option>
                                                        <option value="home renovation">home renovation</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="projectinput6">Budget</label>
                                                    <select id="projectinput6" name="budget" class="form-control square">
                                                        <option value="0" selected="" disabled="">Budget</option>
                                                        <option value="less than 5000$">less than 5000$</option>
                                                        <option value="5000$ - 10000$">5000$ - 10000$</option>
                                                        <option value="10000$ - 20000$">10000$ - 20000$</option>
                                                        <option value="more than 20000$">more than 20000$</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="issueinput3">Start week</label>
                                                    <input type="date" id="issueinput3" class="form-control square" name="dateopened" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened" data-original-title="" title="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="issueinput4">End Week</label>
                                                    <input type="date" id="issueinput4" class="form-control square" name="datefixed" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Fixed" data-original-title="" title="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="projectinput8">About Project</label>
                                            <textarea id="projectinput8" rows="4" class="form-control square" name="comment" placeholder="About Project" data-gramm="false" wt-ignore-input="true"></textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-actions">
                                                <button type="reset" class="btn btn-xs btn-warning mr-1">
                                                    <i class="feather icon-x"></i> Cancel
                                                </button>
                                                <button type="submit" class="btn btn-xs btn-primary">
                                                    <i class="fa fa-check-square-o"></i> Save
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card" style="height: 1039.7px;">
                        <div class="card-header">
                            <h4 class="card-title" id="basic-layout-colored-form-control">Address</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <form class="form">
                                    <div class="form-body">
                                        <h4 class="form-section"><i class="fa fa-home"></i> Home Address </h4>
                                        <div class="form-group">
                                            <label for="userinput5">Address Line 1</label>
                                            <input class="form-control square" type="email" placeholder="address line 1" id="address-line-1">
                                        </div>
                                        <div class="form-group">
                                            <label for="userinput5">Address Line 2</label>
                                            <input class="form-control square" type="email" placeholder="address line 2" id="address-line-2">
                                        </div>
                                        <div class="form-group">
                                            <label for="userinput5">City</label>
                                            <input class="form-control square" type="email" placeholder="city" id="city">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userinput1">State</label>
                                                    <input type="text" id="userinput1" class="form-control square" placeholder="state">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userinput2">Zip</label>
                                                    <input type="text" id="userinput2" class="form-control square" placeholder="zip code">
                                                </div>
                                            </div>
                                        </div>

                                        <h4 class="form-section"><i class="feather icon-mail"></i> Job Location </h4>
                                        <div class="form-group">
                                            <label for="userinput5">Address Line 1</label>
                                            <input class="form-control square" type="email" placeholder="address line 1" id="address-line-1">
                                        </div>
                                        <div class="form-group">
                                            <label for="userinput5">Address Line 2</label>
                                            <input class="form-control square" type="email" placeholder="address line 2" id="address-line-2">
                                        </div>
                                        <div class="form-group">
                                            <label for="userinput5">City</label>
                                            <input class="form-control square" type="email" placeholder="city" id="city">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userinput1">State</label>
                                                    <input type="text" id="userinput1" class="form-control square" placeholder="state">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="userinput2">Zip</label>
                                                    <input type="text" id="userinput2" class="form-control square" placeholder="zip code">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-actions right">
                                                    <a type="button" href="schedule-appointments.html" class="btn btn-primary"><i class="ti-time"></i> Make appointment</a>
                                                    <a type="button" href="quote-new-quote.html" class="btn btn-primary"><i class="ti-pencil-alt"></i> Create a quotation</a>
                                                    <a type="button" href="sales-new-sales.html" class="btn btn-primary"><i class="ti-receipt"></i> Create Sales</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- // New customer section end -->
    </div>
</div>