<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">Add New Vendor</h3>
        </div>
    </div>
    <div class="content-body">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="basic-layout-form">Add Vendor</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li data-toggle="tooltip" data-placement="top" title="Collapse"><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                <li data-toggle="tooltip" data-placement="top" title="Refresh"><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                <li data-toggle="tooltip" data-placement="top" title="Expand"><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                                <li data-toggle="tooltip" data-placement="top" title="Close"><a data-action="close"><i class="feather icon-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <form class="form">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="feather icon-user"></i> Vendor Details</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="projectinput1">Vendor Name</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Vendor Name">
                                                <div class="form-control-position">
                                                    <i class="feather icon-user primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="projectinput2">Vendor Email</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Vendor Email">
                                                <div class="form-control-position">
                                                    <i class="feather icon-mail primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="projectinput4">Phone Number</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Phone Number">
                                                <div class="form-control-position">
                                                    <i class="feather icon-hash primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h4 class="form-section"><i class="feather icon-home"></i> Address Details</h4>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="companyName">Address Line 1</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Address Line 1">
                                                <div class="form-control-position">
                                                    <i class="ti-home primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="companyName">Address Line 2</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Address Line 2">
                                                <div class="form-control-position">
                                                    <i class="ti-home primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="companyName">City</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" id="companyName" class="form-control" placeholder="City" name="company">
                                                <div class="form-control-position">
                                                    <i class="ti-location-pin primary"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="companyName">State</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" id="companyName" class="form-control" placeholder="State" name="company">
                                                <div class="form-control-position">
                                                    <i class="ti-location-pin primary"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="companyName">Country</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" id="companyName" class="form-control" placeholder="State" name="company">
                                                <div class="form-control-position">
                                                    <i class="ti-world primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="companyName">Postal Code</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Postal Code">
                                                <div class="form-control-position">
                                                    <i class="feather icon-hash primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="companyName">Website</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Website">
                                                <div class="form-control-position">
                                                    <i class="feather icon-link primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="projectinput8">Description</label>
                                                <textarea id="projectinput8" rows="5" class="form-control" placeholder="Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-actions right">
                                    <button type="reset" class="btn btn-danger mr-1">
                                        <i class="feather icon-x"></i> Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-body">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="basic-layout-form">Add Vendor Contact</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li data-toggle="tooltip" data-placement="top" title="Collapse"><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                <li data-toggle="tooltip" data-placement="top" title="Refresh"><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                <li data-toggle="tooltip" data-placement="top" title="Expand"><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                                <li data-toggle="tooltip" data-placement="top" title="Close"><a data-action="close"><i class="feather icon-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <form class="form">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="feather icon-user"></i> Vendor Contact Details</h4>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="projectinput1">First Name</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="First Name">
                                                <div class="form-control-position">
                                                    <i class="feather icon-user primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="projectinput2">Last Name</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Last Name">
                                                <div class="form-control-position">
                                                    <i class="feather icon-user primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="projectinput4">Full Name</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Full Name">
                                                <div class="form-control-position">
                                                    <i class="feather icon-user primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="projectinput4">Email Address</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Email Address">
                                                <div class="form-control-position">
                                                    <i class="feather icon-mail primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="projectinput4">Phone Number</label>
                                            <div class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="Phone Number">
                                                <div class="form-control-position">
                                                    <i class="feather icon-hash primary"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="projectinput8">Description</label>
                                                <textarea id="projectinput8" rows="5" class="form-control" placeholder="Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions right">
                                    <button type="reset" class="btn btn-danger mr-1">
                                        <i class="feather icon-x"></i> Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
